<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link
      rel="shortcut icon"
      href="favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section class="section">
      <h2 class="title"><i class="fas fa-globe"></i> URL Shortener Microservice <i class="fas fa-globe"></i></h2>
      <h2 class="subtitle">non-persistent database, zero tracking</h2>
      <form action="/new" method="POST" onsubmit="submitHandler(event)">
        <div class="field is-grouped">
            <div class="control is-expanded has-icons-left">
              <input class="input is-info" type="text" id="url_input"
              placeholder="https://www.example.com/"
              name="url">
              <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </span>
            </div>
            <button class="button">SHORTEN ✂️</button>
          </div>
          <p class="help is-danger is-size-6" id="error-text"></p>
      </form>
    </div>
    <form id="results" onsubmit="event.preventDefault();">
        <label class="label has-text-success">🎉 HERE YOU GO 🎉</label>
        <div class="field is-grouped">
            <div class="control is-expanded">
                <input id="url_output" class="input is-success" type="text" id="url_input"
                placeholder="https://www.example.com/"
                name="url">
              </div>
              <button id="copy" class="button">COPY 📋</button>
        </div>
    </form>
    </section>
    <script>
      const input = document.getElementById('url_input');
      const results = document.getElementById('results');
      const errorText = document.getElementById('error-text');
      const copy = document.getElementById('copy');
      const optionalSlash = window.location.href.endsWith("/")?"":"/"

      const submitHandler = ev => {
        ev.preventDefault();
        fetch(window.location.href + optionalSlash + 'new', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ url: input.value })
        })
          .then(res => res.json())
          .then(data => {
            if (data.error) throw Error(data.error);
            showResults(data);
          })
          .catch(err => {
            showError(err);
          });
        input.value = '';
      };
      const showResults = data => {
        const output = document.getElementById('url_output');
        errorText.innerHTML = "";
        results.style.display = 'block';
        
        output.value = window.location.href + optionalSlash + data.short_url;
        copy.innerHTML = 'COPY 📋';
      };
      const showError = err => {
        const output = document.getElementById('error_output');
        results.style.display = 'none';
        errorText.innerHTML = err;
      };
      copy.addEventListener('click', e => {
        const output = document.getElementById('url_output');
        const dummy = document.createElement('input');
        dummy.value = output.value;
        document.body.appendChild(dummy);
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
        copy.innerHTML = 'COPY ✔️';
        clearTimeout(window.copyTimer)
        window.copyTimer = setTimeout(()=>{
          copy.innerHTML = 'COPY 📋';
        }, 500)
      });

    </script>
    <footer class="footer">
      <div class="has-text-centered">
        <p>
          <strong>URL Shortener Microservice</strong> by
          <a href="https://janar.me">Janar</a>. Link to source: <a href="https://github.com/tuhnik/url-shortener">github.com/tuhnik/url-shortener
        </p>
      </div>
    </footer>
  </body>
</html>
