/****** Main Styling ******/

html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  flex: 1;
}

h3,
h2 {
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
}

#results {
  display: none;
  padding-top: 0.75em;
  position: relative;
}

#error {
  display: none;
}

#copy {
  min-width: 6.75em;
}

#url_output {
  margin-right: 4px;
}

.wrapper {
  display: flex;
}

footer {
  width: 100%;
}

.footer {
  padding: 1rem;
}

.footer a {
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}
